.nav{
    display:flex;
    flex-direction: row;
    background-color: #122A50;
    justify-content: space-between;
}

.listContainer{
    padding-top: 4%;
}

.list{
    list-style-type:none;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5%;
}

.listItem {
    white-space:nowrap;
    padding: 2%;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #ffff;
}

.logo{
    width: 15%;
    height: 15%;
}