.teacherDashboardContainer {
  display: flex;
  flex-direction: row;
}

.headerDashboard {
  margin: 1.25rem 0;
}

.courseContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.courseTable {
  display: inline-table;
  border-collapse: collapse;
  border-top: black solid 2px;
  margin: 1.25rem;
}

.courseTableHeader {
  border-bottom: black solid 2px;
  th {
    padding: 0.625rem;
    text-align: center;
  }
  tr {
    height: 5rem;
  }
}


.courseTableBody {
  border-bottom: black solid 0.125rem;
  td {
    padding: 0.625rem;
    text-align: center;
  }
  tr {
    height: 5rem;
    border-bottom: black solid 0.0625rem;
  }
  img {
    margin: auto;
  }
}

.courseLogo {
  width: 3rem;
  text-align: center;
}

.newCourseButton {
  background-color: transparent;
  border: black solid 0.1rem;
  border-radius: 0.625rem;
  padding: 0.5rem;
  margin: 2rem 0;
  width: 10rem;
}

