.nav {
  display: flex;
  flex-direction: row;
  background-color: #122a50;
  justify-content: space-between;
  align-items: center;
  padding: 0% 2.5%;
  box-shadow: 10px 21px 25px -7px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navLinksList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.navLink {
  margin: 0px 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  color: white;
  padding: 0.3em;
}

.navLink:hover {
  cursor: pointer;
  color: #f35c3c;

}

.logo {
  width: 10em;
  height: 10em;
}

.logo:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .navLink {
    margin: 0px 10px;
    font-size: 1em;
  }
}
