.nav {
  display: flex;
  flex-direction: row;
  background-color: #122a50;
  justify-content: space-between;
  align-items: center;
  padding: 0% 2.5%;
}

.navLinksList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.navLink {
  margin: 0px 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: white;
}

.navLink:hover {
  cursor: pointer;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #ffff;
}

.navLink.active {
  color: #f35c3c;

}

.logo {
  width: 7em;
  height: 7em;
}

@media (max-width: 576px) {
  .navLink {
    margin: 0px 10px;
    font-size: 1em;
  }
}
