/* General Styles */
.header {
    font-size: 1.5rem;
    /* 24px -> 1.5rem */
    font-weight: bold;
    color: #f65e39;
    margin-bottom: 0.625rem;
    /* 10px -> 0.625rem */
}

.instructions {
    font-size: 1rem;
    /* 16px -> 1rem */
    color: #333;
    margin-bottom: 1.25rem;
    /* 20px -> 1.25rem */
}

.label {
    font-size: 1.594rem;
    /* 14px -> 0.875rem */
    color: #333;
    margin-bottom: 0.3125rem;
    /* 5px -> 0.3125rem */
    display: block;
}

.input {
    width: 100%;
    padding: 0.625rem;
    /* 10px -> 0.625rem */
    margin-bottom: 0.9375rem;
    /* 15px -> 0.9375rem */
    border: 0.0625rem solid #ddd;
    /* 1px -> 0.0625rem */
    border-radius: 0.25rem;
    /* 4px -> 0.25rem */
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: 0.625rem;
    /* 10px -> 0.625rem */
    background-color: #1a2d5c;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    /* 4px -> 0.25rem */
    cursor: pointer;
    font-size: 1rem;
    /* 16px -> 1rem */
    margin-top: 0.625rem;
    /* 10px -> 0.625rem */
}

.button:hover {
    background-color: #0e1b3d;
}

.resendText {
    font-size: 0.875rem;
    /* 14px -> 0.875rem */
    color: #666;
    margin-top: 0.9375rem;
    /* 15px -> 0.9375rem */
}

.resendLink {
    color: #f65e39;
    text-decoration: none;
    font-weight: bold;
}

.resendLink:hover {
    text-decoration: underline;
}

/* Wrapper to center the form */
.pageContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7f7f7;
    padding: 2.5rem;
    /* 40px -> 2.5rem */
    width: 25rem;
    /* 400px -> 25rem */
    border-radius: 0.5rem;
    /* 8px -> 0.5rem */
    box-shadow: 0.0625rem 0px 1.25rem rgba(0, 0, 0, 0.5);
    /* 1px 0px 20px -> 0.0625rem 0px 1.25rem */
    z-index: 1;
}

/* Styling for the ForgotPassword form container */
.formContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7f7f7;
    padding: 2.5rem;
    /* 40px -> 2.5rem */
    width: 25rem;
    /* 400px -> 25rem */
    border-radius: 0.5rem;
    /* 8px -> 0.5rem */
    box-shadow: 0.0625rem 0px 1.25rem rgba(0, 0, 0, 0.5);
    z-index: 1;

}

.closeFormButton {
    color: red;
    font-weight: bold;
    background: none;
    border: none;
    position: relative;
    transform: translate(-170px, -54px);

}

.SetPassWordId {
    font-size: 2.5rem;
    /* 24px -> 1.5rem */
    font-weight: bold;
    color: #f65e39;
    margin-bottom: 0.625rem;
}