/* SignIn.module.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.pageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.container {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.header {
  font-weight: 700;
  font-size: 2rem;
  color: #f35c3c;
  margin-bottom: 0.5rem;
}

.name {
  font-weight: 400;
  font-size: 1rem;
  color: #122a50;
  margin-bottom: 1.5rem;
}

.forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #e0e0e0;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.formName {
  font-size: 0.875rem;
  color: #333;
  margin-bottom: 0.25rem;
  text-align: left;  /* Ensure left alignment */
  align-self: flex-start;  /* Align to the start of the flex container */
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  color: #333;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #122a50;
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

.button:hover {
  background-color: #0f2240;
}

.googleButton {
  width: 100%;
  padding: 0.75rem;
  background-color: transparent;
  color: #757575;
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

.googleButton:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.closeFormButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #757575;
  cursor: pointer;
}

.forgotPassword {
  margin-top: 0.75rem;
  text-align: center;
}

.forgotPasswordLink {
  color: #f35c3c;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.875rem;
}

.forgotPasswordLink:hover {
  text-decoration: underline;
}

.content {
  font-size: 0.875rem;
  color: #333;
  text-align: center;
  margin-top: 1rem;
}

.join {
  color: #f35c3c;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.join:hover {
  text-decoration: underline;
}

.errorMessage {
  color: #f44336;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 1.5rem;
  }

  .header {
    font-size: 1.75rem;
  }

  .name {
    font-size: 0.9375rem;
  }

  .forms {
    padding: 1rem;
  }

  .input, .button, .googleButton {
    padding: 0.625rem;
  }
}