# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# other
.DS_Store


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


#service Account Key firebase
learninghub-ggpacteam3-firebase-adminsdk-zexw0-e7cfeb2116.json