.sideBarContainer {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: auto;
  align-items: center;
  border-right: #122A50 solid 0.063rem;
  padding: 2rem;
}

.newCourseLink {
  background-color: transparent;
  color: black;
  border: black solid 0.1rem;
  border-radius: 0.625rem;
  padding: 0.5rem;
  margin: 2rem 0;
  width: 10rem;
  text-align: center;
  text-decoration: none;
}
